
{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">DECam</h4>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bulge Survey</li>
                    <li class="list-group-item disabled">Cosmos Field</li>
                    <li class="list-group-item disabled">HiTS Survey</li>
                    <li class="list-group-item disabled">SMASH Survey</li>
                </ul>
          
                <div class="panel-heading">
                    <h4 class="text-center">CFHT</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item disabled">CFHT Lensing Survey</li>
                </ul>

                <div class="panel-heading">
                    <h4 class="text-center">HSC</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item disabled">HCS COSMOS</li>
                </ul>

                <div class="panel-heading">
                    <h4 class="text-center">LSST Simulations</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item disabled">Twinkles</li>
                </ul>

</div>
        </div>    
        <div class="col-md-10">
            <ul class="nav nav-tabs">
                <li role="presentation" {% if dashboard == "summary" %}class="active"{% endif %}><a href="">Summary</a></li>
                <li role="presentation" {% if dashboard == "metrics" %}class="active"{% endif %}><a href="">Metrics</a></li>
                <li role="presentation" {% if dashboard == "plots" %}class="active"{% endif %}><a href="">Plots</a></li>
            </ul>
        </div>
    </div>
</div>
<hr>
{% endblock %}
