{% extends "base.html" %}

{% block title %}{{ block.super }} - {{ slug|capfirst }}{% endblock %}

{% block content %}



<div class="jumbotron">
    <div class="container">
        <h1>SQUASH</h1>
        <p>A QA service developed by SQuaRE.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Purpose</h2>
            <p>SQUASH provides a minimum infrastructure for 
            testing the LSST stack using precursor datasets.

            As a prototype SQUASH can be used and extended by the LSST
            scientists preserving the code and knowledge developed during construction.

            </p>
        </div>
        <div class="col-md-6">
            <h2>How to Use</h2>
            <p>
            
            Start by looking at the metrics reported by KPM CI and
            check the existing features, and help SQuaRE to extend
            this system.

            </p>
            <p>
                <a class="btn btn-default"
                    href="" role="button">
                    Go >>
                </a>
                 <a class="btn btn-default"
                    href="" role="button">
                    Learn more
                </a>
</p>
        </div>
    </div>
</div>



{% endblock %}
